<?xml version="1.0"?>
<launch>

    <arg name="world_name" default="~/Workspaces/smb_ws/src/smb_highlevel_controller/world/singlePillar.world"/>
    <arg name="laser_enabled" default="true"/>
    <arg name="kinetic_enabled" default="false"/>

    <include file ="$(find smb_ws)/src/smb_gazebo/launch/smb_gazebo.launch">
        <!-- <arg name = "world_name" value="$(arg world_name)"/> -->
        <arg name = "laser_enabled" value="$(arg laser_enabled)"/>
        <arg name = "kinetic_enabled" value="$(arg kinetic_enabled)"/>
    </include> 

    <node name="smb_highlevel_controller" pkg="smb_highlevel_controller" type="smb_highlevel_controller"  output="screen" >
        <rosparam command="load" file="$(find smb_highlevel_controller)/config/default.yaml"/>        
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" />
    
</launch>